@model EnrolledUserVM

<h1>@Model.Course.Name </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                UserName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-action="EnrolledUserDetail" asp-route-userId="@item.Id" asp-route-courseId="@Model.Course.Id">Details</a> |
                    <a asp-action="EnrolledUserDelete" asp-route-userId="@item.Id" asp-route-courseId="@Model.Course.Id">Delete Enrollment</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
