@model IEnumerable<FunFoxTask.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Levels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxStrengh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Levels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxStrengh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="EnrolledUsers" asp-route-id="@item.Id">Enrolled Users</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New Course</a>
</p>